* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  font-family: "DM Sans", sans-serif;
  scroll-behavior: smooth;
}

.main {
  margin: 1rem 2rem;
  display: flex;
  flex-direction: row;
}
